@import "../utils/variables.scss", "../utils/mixins.scss";

.footer {
  background-color: $deepColor;
  color: white;
}

.wrap {
  max-width: $maxScreenWidth;
  margin: 0 auto;
  padding: 1rem;
}

.highlight {
  font-weight: 600;
  color: $highlightColor;
}

.link {
  color: $softColor;
  font-weight: 600;
}

@media screen and (max-width: 420px) {
  .footer {
    font-size: 0.7rem;
  }
}
