@import "../utils/variables.scss", "../utils/mixins.scss";

.pageWrap {
  margin: 3rem 1rem;
}

.driverGrid {
  display: grid;
  grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11%;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
  @include smoothBoxShadows;
  background-color: lighten($softColor, 23);
  border: 1rem solid $bgMainColor;
}

.driver {
  cursor: pointer;
  position: relative;
  &:hover::after,
  &.selected::after {
    @include cursorAnimated;
  }
  &__check {
    position: absolute;
    width: 40%;
    bottom: 0;
    right: 0;
    height: auto;
    z-index: 1;
  }
  &:nth-child(43) {
    @include moveTheDLCCharacter;
  }
  &:nth-child(44) {
    @include moveTheDLCCharacter(2);
  }
  &:nth-child(45) {
    @include moveTheDLCCharacter(3);
  }
  &:nth-child(46) {
    @include moveTheDLCCharacter(4);
  }
  &:nth-child(47) {
    @include moveTheDLCCharacter(5);
  }
  &:nth-child(48) {
    @include moveTheDLCCharacter(6);
  }
  &__image {
    width: 100%;
    height: auto;
    &.picked {
      filter: grayscale(1);
      z-index: -1;
      transform: scale(0.9);
      opacity: 0.6;
    }
  }
}

.option {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
  &__btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
  }
}

.selectedDriver {
  height: 100%;
  text-align: center;
  background-color: $deepColor;
  flex-grow: 1;
  padding: 1rem;
  max-width: 200px;
  @include smoothBoxShadows;
  border: 0.5rem solid $softColor;
  &__image {
    height: 100%;
  }
  &__label {
    font-family: "Handlee", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: $softColor;
    font-weight: 900;
  }
}

@media screen and (max-width: 500px) {
  .pageWrap {
    margin: 2rem 0;
  }
  .driverGrid {
    border: none;
  }
  .option {
    margin: 2rem;
  }

  .selectedDriver {
    max-width: 100px;
    border: 0.2rem solid $softColor;
    &__image {
      width: 100%;
    }
    &__label {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 409px) {
    .pageWrap {
      margin: 2rem 0;
    }
    .option {
      margin: 1rem;
    }
  }
}
