$mainColor: #197da9;
$highlightColor: #b1deff;
$midColor: #9476b0;
$softColor: #dc8bb5;
$deepColor: #240a1c;
$bgMainColor: #f8f8f8;

$maxScreenWidth: 1280px;

$cup-colors: #f6435b25, #e07d4e25, #fffc3725, #fff3b425, #82cd9225, #97e25525,
  #63e39825, #fffc6b25, #dc704025, #fade3d25, #ffff5925, #fce24925, #fbd91525,
  #d6686b25, #7fe58325, #feaa2b25, #8691bd25, #fdff2525, #ff764025, #4fa7e725;
