@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.courses {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.cup {
  height: 246px;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  gap: 1rem;
  position: relative;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 1144px) {
    width: 45%;
  }
  @media screen and (max-width: 700px) {
    width: 60%;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
  &__img {
    cursor: pointer;
    &.open {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      z-index: 2;
      &:hover {
        animation: rotate-infinite 2s infinite linear;
      }
    }
  }
  &__courses {
    width: 45%;
    opacity: 0;
    cursor: pointer;
    &:hover {
      z-index: 5;
    }
    &__img {
      width: 100%;
      height: auto;
      transition: all 0.3s ease-in;
      border-radius: 15px;
      &:hover {
        z-index: 5;
        transform: scale(1.2);
        box-shadow: 0 2px 4px #240a1c93;
      }
    }
  }

  &.open {
    .cup__courses {
      animation: fade-in 0.5s ease forwards;
      animation-delay: 0s;
      &:nth-child(3) {
        animation-delay: 0.1s;
      }
      &:nth-child(4) {
        animation-delay: 0.2s;
      }
      &:nth-child(5) {
        animation-delay: 0.3s;
      }
    }
  }
}
